body {
    text-align: center;
}

.h1 {
    height: 80px;
}

.hat {
    width: 500px;
    height: auto;
    rotate: 180deg;
    margin-top: auto;
    justify-self: end;
}

.hat.finished {
    animation: 3s infinite hat-spin;
}

.hat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 80px);
}

.hat-pull {
    display: grid;
    animation: 5s hand-pull ease-in-out;
    grid-template-columns: 100% 100%;
    width: 300px;
    align-self: center;
}

.hat-pull img {
    width: 300px;
    height: auto;
}

.hat-pull p {
    text-align: center;
    width: 500px;
    height: fit-content;
    min-height: 100px;
    background: beige;
    animation: 5s item-appear ease-in-out;
    font-size: xx-large;
    margin-left: -132%;
}

.hat-pull.finished p {
    opacity: 0;
    animation: none;
}

.hat-pull.finished {
    animation: 1s hand-wave infinite;
}

@keyframes hand-pull {
    from {
    }

    25% {
        transform: translate(0, -10vh);
        rotate: 180deg;
    }

    50% {
        transform: translate(0, -60vh);
        rotate: 180deg;
    }

    60% {
        transform: translate(0, -40vh);
        rotate: 180deg;
    }

    80% {
        transform: translate(0, -10vh);
        rotate: 0deg;
    }

    to {
        transform: translate(0);
    }
}

@keyframes item-appear {
    from {
        opacity: 0;
    }

    55% {
        opacity: 0;
    }

    60% {
        opacity: 100%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes hat-spin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

@keyframes hand-wave {
    from {
        rotate: -45deg;
    }
    50% {
        rotate: 45deg;
    }
    to {
        rotate: -45deg;
    }
}