{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda Hat</title>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
    <link rel="stylesheet" href="{% static 'hat/hat.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.1"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.8"></script>
</head>
<body>
<div class="sidebar left">
    <a href="{% url 'meeting' pk=meeting.pk %}">Back</a>
</div>
<div class="hat-container">
    <div class="hat-pull {{ hat_class }}" id="hat-pull">
        <img src="{% static 'hat/hand.png' %}">
        <div class="message f-col padding-block">
            {{ item.text }}
            {% if item %}
                <section class="tool-bar width:100% f-row justify-content:center">
                    <button hx-get="{% url 'finish-item' pk=item.pk %}" hx-swap="outerHTML" hx-target="#hat-pull" hx-select="#hat-pull">Finish Item</button>
                    <button hx-get="{% url 'defer-item' pk=item.pk %}" hx-swap="outerHTML">Table Item</button>
                </section>
            {% endif %}
        </div>
    </div>
    <img class="hat {{ hat_class }}" src="{% static 'hat/tophat.png' %}" alt="hat!">
</div>
<div class="sidebar right">
    {% include 'hat/counter-snippet.html' %}
    <ul>
        {% for item in past_items %}
            <li>
                <del>{{ item.text }}</del>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>